body {
    margin: 0;
    background-color: black;
    font-family: Roboto, Arial;
}

.presentation {
    position: relative;
}
.presentation video {
    width: 100%;
    height: 100%;
    opacity: 60%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentation .title {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-weight: 900;
    mix-blend-mode: multiply;
    text-align: center;
    opacity: 60%;
}